node_modules
.env
assistant_config.txt
venv/
.DS_Store

corpus.txt
corpus_embeddings.pkl
course_essays.txt
course_summary.txt

# Python cache files
__pycache__/
*.py[cod]
*$py.class
backend-server/**/__pycache__/

essay_corpus.txt
essay_corpus_embeddings.pkl
summary_corpus.txt
summary_corpus_embeddings.pkl
corpus.txt
corpus_embeddings.pkl
send_to_ec2.sh

base_messages.json